<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.2, minimum-scale=1.0">
    <title>Code Box - Development Environment</title>
</head>
<body>
    <div class="page" id="Page">
        <h1 class="u-mb-4">Code Box</h1>

<pre id="CodeViewTest"><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

        <div id="TabCodeBoxTest" class="u-mb-4">
            <div data-cb-name="Download File" data-cb-file="./index.js"></div>

<pre data-cb-name="Name"><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. 1 --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
<pre data-cb-name="MyName2"><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;


sdfdf

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

            <div data-cb-name="No Download File" data-cb-file></div>
        </div>
    </div>
</body>
</html>