<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.2, minimum-scale=1.0">
    <title>Code Box - Development Environment</title>
</head>
<body>
    <div class="page" id="Page">
        <h1 class="u-mb-4">Code Box</h1>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="ProjectCodeBoxTest2" data-cb-folder-structure-heading="Adresářová struktura" data-cb-open-panel-on-init="true" data-cb-open-root-folder-on-init="false"></div>
    <br>
    <br>
    <br>
    <div id="ProjectCodeBoxTest">
        <div data-cb-name="index.js" data-cb-file="./index.js" data-cb-package></div>
        <div data-cb-name="index.js" data-cb-file="./index.js" data-cb-package></div>
        <div data-cb-name="index.js" data-cb-file="./index.js"></div>
        <div data-cb-name="index.js" data-cb-folder="test" data-cb-file="./index.js" data-cb-package></div>
        <pre data-cb-name="something.jsp" data-cb-active data-cb-package data-cb-folder="test/subfolders"><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
        <pre data-cb-name="something.jsp" data-cb-active data-cb-package data-cb-folder="test/subfolder"><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu - copy&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
<pre data-cb-name="something2.jsp" data-cb-folder="s/d/g"><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu 2&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
<pre data-cb-name="something3.jsp" data-cb-package><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu 3&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
<pre data-cb-name="something4/.jsp" data-cb-package="io.github.jirkasa"><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu 4&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

        <ul data-cb-folders>
            <li data-cb-opened>
                src
                <ul>
                    <li data-cb-packages-folder>main</li>
                </ul>
            </li>
            <li>test</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- todo - myslet na tabindexy - snažit se to implementovat už od začátku -->
    <!-- modifier třídy pro každý typ itemu -->
     <!-- todo - podívat se na to s ikonama -->
    <div class="cb-project-code-box u-mb-4">
        <div class="cb-project-code-box__panel-container">
            <div class="cb-project-code-box__panel cb-project-code-box__panel--opened">
                <div class="cb-project-code-box__panel-content">
                    <div class="cb-project-code-box__panel-heading">Adresářová struktura</div>
                    <button class="cb-project-code-box__panel-item cb-project-code-box__panel-item--project">
                        <div class="cb-project-code-box__panel-item-arrow-icon">
                            <svg>
                                <use xlink:href="./static/icon-sprite.svg#arrow-right"></use>
                            </svg>
                        </div>
                        <div class="cb-project-code-box__panel-item-icon">
                            <svg>
                                <use xlink:href="./static/icon-sprite.svg#inventory"></use>
                            </svg>
                        </div>
                        <div class="db-project-code-box__panel-item-text">project</div>
                    </button>
                    <div class="cb-project-code-box__panel-collapsible">
                        <button class="cb-project-code-box__panel-item">
                            <div class="cb-project-code-box__panel-item-icon">
                                <svg>
                                    <use xlink:href="./static/icon-sprite.svg#file"></use>
                                </svg>
                            </div>
                            <div class="db-project-code-box__panel-item-text">file 1</div>
                            <div class="cb-project-code-box__panel-item-download-icon">
                                <svg>
                                    <use xlink:href="./static/icon-sprite.svg#download"></use>
                                </svg>
                            </div>
                        </button>
                        <button class="cb-project-code-box__panel-item">
                            <div class="cb-project-code-box__panel-item-icon">
                                <svg>
                                    <use xlink:href="./static/icon-sprite.svg#file"></use>
                                </svg>
                            </div>
                            <div class="db-project-code-box__panel-item-text">file 2</div>
                        </button>
                    </div>
                    <hr class="cb-project-code-box__panel-horizontal-rule">
                    <div class="cb-project-code-box__panel-heading">Java balíčky</div>
                    <div>
                        <button class="cb-project-code-box__panel-item cb-project-code-box__panel-item--package">
                            <div class="cb-project-code-box__panel-item-arrow-icon">
                                <svg>
                                    <use xlink:href="./static/icon-sprite.svg#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="cb-project-code-box__panel-item-icon">
                                <svg>
                                    <use xlink:href="./static/icon-sprite.svg#package"></use>
                                </svg>
                            </div>
                            <div class="db-project-code-box__panel-item-text">io.github.jirkasa</div>
                        </button>
                        <div class="cb-project-code-box__panel-collapsible">
                            <button class="cb-project-code-box__panel-item">
                                <div class="cb-project-code-box__panel-item-icon">
                                    <svg>
                                        <use xlink:href="./static/icon-sprite.svg#file"></use>
                                    </svg>
                                </div>
                                <div class="db-project-code-box__panel-item-text">file 1</div>
                            </button>
                            <button class="cb-project-code-box__panel-item">
                                <div class="cb-project-code-box__panel-item-icon">
                                    <svg>
                                        <use xlink:href="./static/icon-sprite.svg#file"></use>
                                    </svg>
                                </div>
                                <div class="db-project-code-box__panel-item-text">file 2</div>
                            </button>
                        </div>
                    </div>
                </div>
                <button class="cb-project-code-box__panel-open-button">
                    <div class="cb-project-code-box__panel-open-button-icon">
                        <svg>
                            <use xlink:href="./static/icon-sprite.svg#double-arrow-right"></use>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="cb-project-code-box__code-view-container">
            <pre id="CodeViewTest"><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
        </div>
    </div>

        <div id="TabCodeBoxTest" class="u-mb-4">
            <div data-cb-name="Download File" data-cb-file="./index.js"></div>

<pre data-cb-active data-cb-name="Name"><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. 1 --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
    <div data-cb-name="Download File" data-cb-file="./index.js"></div>

    <pre data-cb-active data-cb-name="Name"><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
    &lt;!-- Nadefinování knihovny tagů, kterou chceme používat. 1 - copy --&gt;
    &lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;

    &lt;!DOCTYPE html&gt;
    &lt;html&gt;
    &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;title&gt;Tvorba custom tagu&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
    &lt;/body&gt;
    &lt;/html&gt;</code></pre>
<pre data-cb-name="MyName2"><code>&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;


sdfdf

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

            <div data-cb-name="No Download File" data-cb-file></div>
            <div data-cb-name="No Download File" data-cb-file></div>
        </div>
    </div>
</body>
</html>