<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.2, minimum-scale=1.0">
    <title>Code Box - Development Environment</title>
</head>
<body>
    <div id="Page" class="page">
        <h1 class="u-mb-4">Code Box</h1>
        <p class="u-mb-4">This page serves as a development environment. It is located in "dev/pages/index.ejs" and its TypeScript file is located in "dev/ts/main.ts".</p>
    </div>
</body>
</html>