<div id="ProjectCodeBoxExample">
    <pre data-cb-name="Human.java" data-cb-package="io.github.jirkasa.model"><code class="no-highlight">package io.github.jirkasa.model;

public class Human {
    private name;
    private surname;

    public String getName() {
        return name;
    }

    public void setName(String name) {
        this.name = name;
    }

    public String getSurname() {
        return surname;
    }

    public setSurname(String surname) {
        this.surname = surname;
    }
}</code></pre>
    <pre data-cb-name="ExampleApp.java" data-cb-active data-cb-package="io.github.jirkasa"><code class="no-highlight">package io.github.jirkasa;

import io.github.jirkasa.Human;

public class MyApp {
    public static void main(String[] args) {
        const human = new Human();
        human.setName("Jiří");
        human.setSurname("Satora");

        String text = "Hello " + human.getName() + " " + human.getSurname();

        System.out.println(text);
    }
}</code></pre>
    <pre data-cb-name="README.txt"><code>This is an example app.</code></pre>
    <div data-cb-name="Image.png" data-cb-file="./static/Image.png"></div>
</div>