<div id="TabCodeBoxExample">
    <pre data-cb-name="HTML" data-cb-active><code class="no-highlight">&lt;div id="MyCodeBox"&gt;

    &lt;pre data-cb-name="addition" data-cb-active&gt;&lt;code&gt;let x = 1;
let y = 2;

console.log("result: " + (x + y));&lt;/code&gt;&lt;/pre&gt;

    &lt;pre data-cb-name="connecting-strings"&gt;&lt;code&gt;let string1 = "This is";
let string2 = " string.";

console.log(string1 + string2);&lt;/code&gt;&lt;/pre&gt;

&lt;/div&gt;</code></pre>
    <pre data-cb-name="JavaScript"><code class="no-highlight">import { TabCodeBox } from "@jirkasa/code-box";

new TabCodeBox(document.getElementById("MyCodeBox"), {
    svgSpritePath: "./img/icon-sprite.svg",
    svgSpriteIcons: {
        codeFile: "file",
        file: "file-2",
        download: "download"
    }
});</code></pre>
</div>