<div class="code-example u-mb-4">
    <pre class="code-example__code"><code class="language-html">&lt;script data-cb-commands type="application/json"&gt;
    [
        {
            "command": "rename project",
            "name": "code-box-example"
        },
        {
            "command": "remove folder",
            "folderPath": "src/main"
        },
        {
            "command": "open folder",
            "folderPath": "js/common",
            "openParentFolders": true
        }
    ]
&lt;/script&gt;</code></pre>
</div>