<div class="code-example u-mb-2">
    <button class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>HTML</span>
    </button>
    <div class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-html">&lt;div id="MyProjectCodeBox"&gt;
    &lt;ul data-cb-folders&gt;
        &lt;li&gt;
            src
            &lt;ul&gt;
                &lt;li&gt;
                    main
                    &lt;ul&gt;
                        &lt;li&gt;java&lt;/li&gt;
                        &lt;li&gt;resources&lt;/li&gt;
                        &lt;li&gt;webapp&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    test
                    &lt;ul&gt;
                        &lt;li&gt;java&lt;/li&gt;
                        &lt;li&gt;resources&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li&gt;target&lt;/li&gt;
    &lt;/ul&gt;

    &lt;pre data-cb-name="MyApp.java" data-cb-package="io.github.jirkasa" data-cb-active&gt;&lt;code&gt;package io.github.jirkasa;

public class MyApp {
    public static void main(String[] args) {
        System.out.println("Hello world!");
    }
}&lt;/code&gt;&lt;/pre&gt;

    &lt;pre data-cb-name="pom.xml"&gt;&lt;code&gt;&lt;project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd"&gt;
    &lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;
    &lt;groupId&gt;io.github.jirkasa&lt;/groupId&gt;
    &lt;artifactId&gt;example-app&lt;/artifactId&gt;
    &lt;version&gt;0.0.1-SNAPSHOT&lt;/version&gt;
    &lt;packaging&gt;war&lt;/packaging&gt;
    &lt;name&gt;example-app&lt;/name&gt;
&lt;/project&gt;&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;</code></pre>
    </div>
    <button id="CollapsibleButton" class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>JavaScript</span>
    </button>
    <div id="CollapsibleContainer" class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-javascript">import { ProjectCodeBox } from "../../../code-box/index";

new ProjectCodeBox(document.getElementById("CreateProjectCodeBoxExample"), {
    minCodeViewLinesCount: 20,
    projectName: "example-app",
    packagesFolderPath: "src/main/java",
    foldersDelimiterForPackages: ".",
    svgSpritePath: "./img/icon-sprite.svg",
    svgSpriteIcons: {
        codeFile: "file",
        file: "file-2",
        download: "download",
        panelOpenButton: "double-arrow-right",
        folderArrow: "arrow-right",
        folder: "folder",
        project: "inventory",
        package: "package"
    }
});</code></pre>
    </div>
    <div class="code-example__result-box">
        <div id="CreateProjectCodeBoxExample">
            <ul data-cb-folders>
                <li>
                    src
                    <ul>
                        <li>
                            main
                            <ul>
                                <li>java</li>
                                <li>resources</li>
                                <li>webapp</li>
                            </ul>
                        </li>
                        <li>
                            test
                            <ul>
                                <li>java</li>
                                <li>resources</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>target</li>
            </ul>

            <pre data-cb-name="MyApp.java" data-cb-package="io.github.jirkasa" data-cb-active><code class="no-highlight">package io.github.jirkasa;

public class MyApp {
    public static void main(String[] args) {
        System.out.println("Hello world!");
    }
}</code></pre>

            <pre data-cb-name="pom.xml"><code class="no-highlight">&lt;project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd"&gt;
    &lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;
    &lt;groupId&gt;io.github.jirkasa&lt;/groupId&gt;
    &lt;artifactId&gt;example-app&lt;/artifactId&gt;
    &lt;version&gt;0.0.1-SNAPSHOT&lt;/version&gt;
    &lt;packaging&gt;war&lt;/packaging&gt;
    &lt;name&gt;example-app&lt;/name&gt;
&lt;/project&gt;</code></pre>
        </div>
    </div>
</div>