<div class="code-example u-mb-4">
    <pre class="code-example__code"><code class="language-html">&lt;ul data-cb-folders&gt;
    &lt;li&gt;
        src
        &lt;ul&gt;
            &lt;li&gt;
                main
                &lt;ul&gt;
                    &lt;li&gt;java&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li data-cb-opened&gt;test&lt;/li&gt;
&lt;/ul&gt;</code></pre>
</div>