<div class="code-example u-mb-4">
    <pre class="code-example__code"><code class="language-javascript">// ...
svgSpriteIcons: {
    codeFile: "file",
    file: "file-2",
    download: "download",
    panelOpenButton: "double-arrow-right",
    folderArrow: "arrow-right",
    folder: "folder",
    project: "inventory",
    package: "package"
}
// ...</code></pre>
</div>