<div class="code-example u-mb-4">
    <select data-option-code-switch class="code-example__switch">
        <option value="OptionsObject">options object</option>
        <option value="DataAttribute">data attribute</option>
    </select>
    <pre data-options-object-code class="code-example__code"><code class="language-javascript">new CodeView(document.getElementById("MyCodeView"), {
    showGutter: false
});</code></pre>
    <pre data-data-attribute-code class="code-example__code" style="display: none;"><code class="language-html">&lt;pre id="MyCodeView" data-cb-show-gutter="false"&gt;&lt;code&gt;let x = 1;
let y = 2;
let z = 5;

let result = x + y + z;

console.log("result: " + result);&lt;/code&gt;&lt;/pre&gt;</code></pre>
    <div class="code-example__result-box">
        <pre id="CodeViewShowGutterExample"><code class="no-highlight">let x = 1;
let y = 2;
let z = 5;

let result = x + y + z;

console.log("result: " + result);</code></pre>
    </div>
</div>