<div class="code-example u-mb-6">
    <pre class="code-example__code"><code class="language-javascript">const codeBoxMemento = codeBox.createMemento();

codeBoxMemento.apply(codeBox);</code></pre>
</div>