<div class="code-example u-mb-4">
    <pre class="code-example__code"><code class="language-html">&lt;!-- code box --&gt;
&lt;div id="MyCodeBox"&gt;
    &lt;!-- code view --&gt;
    &lt;pre data-cb-name="main.js" data-cb-active&gt;&lt;code&gt;let x = 1;
let y = 2;

console.log("result: " + (x + y));&lt;/code&gt;&lt;/pre&gt;

    &lt;!-- downloadable file --&gt;
    &lt;div data-cb-name="Image.png" data-cb-file="./img/Image.png"&gt;&lt;/div&gt;

    &lt;!-- non-downloadable file --&gt;
    &lt;div data-cb-name="something.zip" data-cb-file&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>