<div class="code-example u-mb-4">
    <div class="code-example__result-box">
        <h3 style="text-transform: none; color: #000; font-weight: 400;">TabCodeBox</h3>
        <div id="TabCodeBoxExample">
            <pre data-cb-name="addition" data-cb-active><code class="no-highlight">let x = 1;
let y = 2;

console.log("result: " + (x + y));</code></pre>
            <pre data-cb-name="connecting strings"><code class="no-highlight">let string1 = "This is";
let string2 = " string.";

console.log(string1 + string2);</code></pre>
        </div>

        <br>

        <h3 style="text-transform: none; color: #000; font-weight: 400;">ProjectCodeBox</h3>
        <div id="ProjectCodeBoxExample">
            <pre data-cb-active data-cb-name="style.css" data-cb-folder="css" data-cb-active><code class="no-highlight">h1 {
    font-size: 16px;
    color: red;
}</code></pre>
            <pre data-cb-name="main.js" data-cb-folder="js"><code class="no-highlight">let x = 1;
let y = 2;

console.log("result: " + (x + y));</code></pre>
        </div>

        <br>

        <h3 style="text-transform: none; color: #000; font-weight: 400;">VirtualCodeBox</h3>
        <div id="VirtualCodeBoxExample">
<pre data-cb-active data-cb-name="style.css" data-cb-active><code class="no-highlight">p {
    font-size: 1.6rem;
    line-height: 2.4rem;

    color: #E3EBEC;
}</code></pre>
        </div>
    </div>
</div>