<div class="code-example u-mb-6">
    <select data-css-code-switch class="code-example__switch">
        <option value="SCSS/LESS">SCSS/LESS</option>
        <option value="CSS">CSS</option>
    </select>
    <pre data-less-code class="code-example__code"><code class="language-less">.cb-code-view {
    background-color: #191A1B;

    &__gutter {
        font-family: "Ubuntu Sans Mono", monospace;
        background-color: #282B2C;
    }

    &__line-number {
        color: #A4A9AA;
    }

    &__content {
        code {
            font-family: "Ubuntu Sans Mono", monospace;
            color: #E3EBEC;
        }
    }

    &__highlight {
        background-color: rgba(#3EDCF5, .15);
        border: .1rem solid #5D97A0;
        border-radius: .4rem;
    }
}</code></pre>
    <pre data-css-code class="code-example__code" style="display: none;"><code class="language-css">.cb-code-view {
    background-color: #191A1B;
}

.cb-code-view__gutter {
    font-family: "Ubuntu Sans Mono", monospace;
    background-color: #282B2C;
}

.cb-code-view__line-number {
    color: #A4A9AA;
}

.cb-code-view__content code {
    font-family: "Ubuntu Sans Mono", monospace;
    color: #E3EBEC;
}

.cb-code-view__highlight {
    background-color: rgba(#3EDCF5, .15);
    border: .1rem solid #5D97A0;
    border-radius: .4rem;
}</code></pre>
    <div class="code-example__result-box styled-code-view-example">
        <pre id="CodeViewStylingExample"><code class="no-highlight">let x = 1;
let y = 2;

console.log("result: " + (x + y));</code></pre>
    </div>
</div>