<div class="code-example u-mb-4">
    <select data-css-code-switch class="code-example__switch">
        <option value="SCSS/LESS">SCSS/LESS</option>
        <option value="CSS">CSS</option>
    </select>
    <pre data-less-code class="code-example__code"><code class="language-less">.cb-tab-code-box {
    &__tab {
        &, &:link, &.visited {
            background-color: #99c7ce;
            padding: .4rem .8rem;
            border-top-left-radius: .8rem;
            border-top-right-radius: .8rem;
        }

        &--active {
            &, &:link, &:visited {
                background-color: #54BBCA;
                border: none;
            }
        }

        &:hover, &:focus-visible {
            background-color: #54BBCA;
        }

        &:focus-visible {
            outline: .2rem solid #282B2C;
            outline-offset: -.2rem;
        }
    }

    &__tab-icon {
        svg {
            fill: #282B2C;
        }
    }

    &__tab-download-icon {
        svg {
            fill: #282B2C;
        }
    }

    &__tab-text {
        color: #282B2C;
    }
    
    &__no-code-view {
        background-color: #191A1B;
    }

    &__no-code-view-message {
        color: #E3EBEC;
    }
}</code></pre>
    <pre data-css-code class="code-example__code" style="display: none;"><code class="language-css">.cb-tab-code-box__tab,
.cb-tab-code-box__tab:link,
.cb-tab-code-box__tab.visited {
    background-color: #99c7ce;
    padding: 0.4rem 0.8rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.cb-tab-code-box__tab--active,
.cb-tab-code-box__tab--active:link,
.cb-tab-code-box__tab--active:visited {
    background-color: #54BBCA;
    border: none;
}

.cb-tab-code-box__tab:hover,
.cb-tab-code-box__tab:focus-visible {
    background-color: #54BBCA;
}

.cb-tab-code-box__tab:focus-visible {
    outline: 0.2rem solid #282B2C;
    outline-offset: -0.2rem;
}

.cb-tab-code-box__tab-icon svg {
    fill: #282B2C;
}

.cb-tab-code-box__tab-download-icon svg {
    fill: #282B2C;
}

.cb-tab-code-box__tab-text {
    color: #282B2C;
}

.cb-tab-code-box__no-code-view {
    background-color: #191A1B;
}

.cb-tab-code-box__no-code-view-message {
    color: #E3EBEC;
}</code></pre>
    <div class="code-example__result-box styled-code-view-example styled-tab-code-box-example">
        <div id="TabCodeBoxStylingExample">
            <pre data-cb-name="addition" data-cb-active><code class="no-highlight">let x = 1;
let y = 2;

console.log("result: " + (x + y));</code></pre>
            <pre data-cb-name="connecting strings"><code class="no-highlight">let string1 = "This is";
let string2 = " string.";

console.log(string1 + string2);</code></pre>
            <div data-cb-name="Downloadable file" data-cb-file="../../static/Downloadable.txt"></div>
        </div>
    </div>
</div>