<div class="code-example">
    <button class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>HTML</span>
    </button>
    <div class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-html">&lt;div data-my-code-box&gt;
    &lt;pre data-cb-name="addition" data-cb-active&gt;&lt;code class="no-highlight"&gt;let x = 1;
let y = 2;

console.log("result: " + (x + y));&lt;/code&gt;&lt;/pre&gt;
    &lt;pre data-cb-name="connecting strings"&gt;&lt;code class="no-highlight"&gt;let string1 = "This is";
let string2 = " string.";

console.log(string1 + string2);&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;

&lt;br&gt;

&lt;div data-my-code-box&gt;
    &lt;pre data-cb-name="arrays" data-cb-active&gt;&lt;code class="no-highlight"&gt;let numbers = [5, 3, 1];
let strings = ["code", "box"];&lt;/code&gt;&lt;/pre&gt;
    &lt;pre data-cb-name="object"&gt;&lt;code class="no-highlight"&gt;let book = {
    title: "Design Patterns"
    year: 1994
}&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;</code></pre>
    </div>
    <button id="CollapsibleButton" class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>JavaScript</span>
    </button>
    <div id="CollapsibleContainer" class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-javascript">import { TabCodeBoxCreator } from "code-box";

const creator = new TabCodeBoxCreator(
    svgSpritePath: "./img/icon-sprite.svg",
    svgSpriteIcons: {
        codeFile: "file",
        file: "file-2",
        download: "download"
    }
);
creator.create("[data-my-code-box]");</code></pre>
    </div>
    <div class="code-example__result-box">
        <div data-my-code-box>
            <pre data-cb-name="addition" data-cb-active><code class="no-highlight">let x = 1;
let y = 2;

console.log("result: " + (x + y));</code></pre>
            <pre data-cb-name="connecting strings"><code class="no-highlight">let string1 = "This is";
let string2 = " string.";

console.log(string1 + string2);</code></pre>
        </div>

        <br>

        <div data-my-code-box>
            <pre data-cb-name="arrays" data-cb-active><code class="no-highlight">let numbers = [5, 3, 1];
let strings = ["code", "box"];</code></pre>
            <pre data-cb-name="object"><code class="no-highlight">let book = {
    title: "Design Patterns"
    year: 1994
}</code></pre>
        </div>
    </div>
</div>