<div class="code-example u-mb-4">
    <button class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>HTML</span>
    </button>
    <div class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-html">&lt;pre data-my-code-view&gt;&lt;code&gt;let x = 1;
let y = 2;

console.log("result: " + (x + y));&lt;/code&gt;&lt;/pre&gt;

&lt;br&gt;

&lt;pre data-my-code-view&gt;&lt;code&gt;let string1 = "This is";
let string2 = " string.";

console.log(string1 + string2);&lt;/code&gt;&lt;/pre&gt;</code></pre>
    </div>
    <button class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>JavaScript</span>
    </button>
    <div class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-javascript">import { CodeViewCreator } from "code-box";

const codeViewCreator = new CodeViewCreator();
codeViewCreator.create("[data-my-code-view]");</code></pre>
    </div>
    <div class="code-example__result-box">
        <pre data-my-code-view><code class="no-highlight">let x = 1;
let y = 2;

console.log("result: " + (x + y));</code></pre>

        <br>

        <pre data-my-code-view><code class="no-highlight">let string1 = "This is";
let string2 = " string.";

console.log(string1 + string2);</code></pre>
    </div>
</div>