<div class="code-example u-mb-4">
    <button class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>HTML</span>
    </button>
    <div class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-html">&lt;div data-my-code-box&gt;
    &lt;pre data-cb-name="addition" data-cb-active&gt;&lt;code&gt;let x = 1;
let y = 2;

console.log("result: " + (x + y));&lt;/code&gt;&lt;/pre&gt;
    &lt;pre data-cb-name="connecting strings"&gt;&lt;code&gt;let string1 = "This is";
let string2 = " string.";

console.log(string1 + string2);&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;</code></pre>
    </div>
    <button class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>JavaScript</span>
    </button>
    <div class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-javascript">import { TabCodeBoxCreator } from "code-box";

const codeBoxCreator = new TabCodeBoxCreator({
    svgSpritePath: "./img/icon-sprite.svg",
    svgSpriteIcons: {
        codeFile: "file",
        file: "file-2",
        download: "download"
    }
});
codeBoxCreator.create("[data-my-code-box]");</code></pre>
    </div>
    <div class="code-example__result-box">
        <div data-tab-code-box-creator-example>
            <pre data-cb-name="addition" data-cb-active><code class="no-highlight">let x = 1;
let y = 2;

console.log("result: " + (x + y));</code></pre>
            <pre data-cb-name="connecting strings"><code class="no-highlight">let string1 = "This is";
let string2 = " string.";

console.log(string1 + string2);</code></pre>
        </div>
    </div>
</div>