        </main>
        <div class="documentation-page-layout__navigation">
            <div class="navigation">
                <h3 class="navigation__heading">Contents</h3>
                <nav class="navigation__items">
                    <ul id="DocumentationNavigationItems">
                        <li>
                            <div class="navigation__item">
                                <button data-collapsible-button class="navigation__item-dropdown-button">
                                    <svg>
                                        <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
                                    </svg>
                                </button>
                                <a href="#code-view" class="navigation__item-link">Code View</a>
                            </div>
                            <ul data-collapsible data-collapsible-opened class="navigation__collapsible">
                                <li class="navigation__item">
                                    <a href="#simple-code-view" class="navigation__item-link">Simple Code View</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="#highlighting" class="navigation__item-link">Highlighting</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="navigation__item">
                                <button data-collapsible-button class="navigation__item-dropdown-button">
                                    <svg>
                                        <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
                                    </svg>
                                </button>
                                <a href="#code-boxes" class="navigation__item-link">Code Boxes</a>
                            </div>
                            <ul data-collapsible data-collapsible-opened class="navigation__collapsible">
                                <li class="navigation__item">
                                    <a href="#tab-code-box" class="navigation__item-link">Tab Code Box</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="#project-code-box" class="navigation__item-link">Project Code Box</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="#project-code-box-inheritance" class="navigation__item-link">Project Code Box Inheritance</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="navigation__item">
                                <button data-collapsible-button class="navigation__item-dropdown-button">
                                    <svg>
                                        <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
                                    </svg>
                                </button>
                                <a href="#styling" class="navigation__item-link">Styling</a>
                            </div>
                            <ul data-collapsible data-collapsible-opened class="navigation__collapsible">
                                <li class="navigation__item">
                                    <a href="#styling-code-view" class="navigation__item-link">Styling Code View</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="#styling-tab-code-box" class="navigation__item-link">Styling Tab Code Box</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="#styling-project-code-box" class="navigation__item-link">Styling Project Code Box</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="navigation__item">
                                <button data-collapsible-button class="navigation__item-dropdown-button">
                                    <svg>
                                        <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
                                    </svg>
                                </button>
                                <a href="#other" class="navigation__item-link">Other</a>
                            </div>
                            <ul data-collapsible data-collapsible-opened class="navigation__collapsible">
                                <li class="navigation__item">
                                    <a href="#visualization-of-code-execution" class="navigation__item-link">Visualization of Code Execution</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>