        </main>
        <div class="documentation-page-layout__navigation">
            <div class="navigation">
                <h3 class="navigation__heading">Contents</h3>
                <nav class="navigation__items">
                    <ul id="DocumentationNavigationItems">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>