<div class="code-example u-mb-6">
    <button class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>HTML</span>
    </button>
    <div data-collapsible-closed class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-html">&lt;div id="CodeBox1"&gt;
    &lt;pre data-cb-active data-cb-name="style.css" data-cb-folder="css" data-cb-active&gt;&lt;code&gt;h1 {
    font-size: 16px;
    color: red;
}&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;

&lt;br&gt;

&lt;div style="font-size: 3.2rem;"&gt;&amp;darr;&lt;/div&gt;

&lt;br&gt;

&lt;div id="CodeBox2"&gt;
    &lt;pre data-cb-name="main.js" data-cb-folder="js" data-cb-active&gt;&lt;code&gt;let x = 1;
let y = 2;

console.log("result: " + (x + y));&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;</code></pre>
    </div>
    <button id="CollapsibleButton" class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>JavaScript</span>
    </button>
    <div data-collapsible-closed class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-javascript">import { ProjectCodeBox } from "code-box";

const codeBox1 = new ProjectCodeBox(document.getElementById("CodeBox1"), {
    minCodeViewLinesCount: 10,
    openPanelOnInit: true,
    svgSpritePath: "./img/icon-sprite.svg",
    projectName: "example-app",
    svgSpriteIcons: {
        codeFile: "file",
        file: "file-2",
        download: "download",
        panelOpenButton: "double-arrow-right",
        folderArrow: "arrow-right",
        folder: "folder",
        project: "inventory",
        package: "package"
    }
});

new ProjectCodeBox(document.getElementById("CodeBox2"), {
    minCodeViewLinesCount: 10,
    openPanelOnInit: true,
    svgSpritePath: "./img/icon-sprite.svg",
    svgSpriteIcons: {
        codeFile: "file",
        file: "file-2",
        download: "download",
        panelOpenButton: "double-arrow-right",
        folderArrow: "arrow-right",
        folder: "folder",
        project: "inventory",
        package: "package"
    }
}, codeBox1);</code></pre>
    </div>
    <div class="code-example__result-box">
        <div id="CodeBoxInheritance1">
            <pre data-cb-active data-cb-name="style.css" data-cb-folder="css" data-cb-active><code class="no-highlight">h1 {
    font-size: 16px;
    color: red;
}</code></pre>
        </div>
        
        <br>

        <div style="font-size: 3.2rem;">&darr;</div>

        <br>

        <div id="CodeBoxInheritance2">
            <pre data-cb-name="main.js" data-cb-folder="js" data-cb-active><code class="no-highlight">let x = 1;
let y = 2;

console.log("result: " + (x + y));</code></pre>
        </div>
    </div>
</div>