<div class="code-example u-mb-4">
    <button class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>HTML</span>
    </button>
    <div data-collapsible-closed class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-html">&lt;div id="MyTabCodeBox"&gt;
    &lt;pre data-cb-name="addition" data-cb-active&gt;&lt;code&gt;let x = 1;
let y = 2;

console.log("result: " + (x + y));&lt;/code&gt;&lt;/pre&gt;
    &lt;pre data-cb-name="connecting strings"&gt;&lt;code&gt;let string1 = "This is";
let string2 = " string.";

console.log(string1 + string2);&lt;/code&gt;&lt;/pre&gt;

    &lt;div data-cb-name="Image.png" data-cb-file="./img/Image.png"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>
    <button class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>JavaScript</span>
    </button>
    <div data-collapsible-closed class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-javascript">import { TabCodeBox } from "code-box";

new TabCodeBox(document.getElementById("MyTabCodeBox"), {
    svgSpritePath: "./img/icon-sprite.svg",
    svgSpriteIcons: {
        codeFile: "file",
        file: "file-2",
        download: "download"
    }
});</code></pre>
    </div>
    <button class="code-example__collapsible-button">
        <div class="code-example__collapsible-button-dropdown-icon">
            <svg>
                <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
            </svg>
        </div>
        <span>CSS</span>
    </button>
    <div data-collapsible-closed class="code-example__collapsible">
        <pre class="code-example__code"><code class="language-css">.cb-code-view {
    background-color: #191A1B;
}

.cb-code-view__gutter {
    font-family: "Ubuntu Sans Mono", monospace;
    background-color: #282B2C;
}

.cb-code-view__line-number {
    color: #A4A9AA;
}

.cb-code-view__content code {
    font-family: "Ubuntu Sans Mono", monospace;
    color: #E3EBEC;
}

.cb-code-view__highlight {
    background-color: rgba(#3EDCF5, .15);
    border: .1rem solid #5D97A0;
    border-radius: .4rem;
}

.cb-tab-code-box__tab,
.cb-tab-code-box__tab:link,
.cb-tab-code-box__tab.visited {
    background-color: #99c7ce;
    padding: 0.4rem 0.8rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.cb-tab-code-box__tab--active,
.cb-tab-code-box__tab--active:link,
.cb-tab-code-box__tab--active:visited {
    background-color: #54BBCA;
    border: none;
}

.cb-tab-code-box__tab:hover,
.cb-tab-code-box__tab:focus-visible {
    background-color: #54BBCA;
}

.cb-tab-code-box__tab:focus-visible {
    outline: 0.2rem solid #282B2C;
    outline-offset: -0.2rem;
}

.cb-tab-code-box__tab-icon svg {
    fill: #282B2C;
}

.cb-tab-code-box__tab-download-icon svg {
    fill: #282B2C;
}

.cb-tab-code-box__tab-text {
    color: #282B2C;
}

.cb-tab-code-box__no-code-view {
    background-color: #191A1B;
}

.cb-tab-code-box__no-code-view-message {
    color: #E3EBEC;
}</code></pre>
    </div>
    <div class="code-example__result-box styled-tab-code-box-example styled-code-view-example">
        <div id="StylingTabCodeBoxExample">
    <pre data-cb-name="addition" data-cb-active><code class="no-highlight">let x = 1;
let y = 2;

console.log("result: " + (x + y));</code></pre>
    <pre data-cb-name="connecting strings"><code class="no-highlight">let string1 = "This is";
let string2 = " string.";

console.log(string1 + string2);</code></pre>

            <div data-cb-name="Image.png" data-cb-file="../static/Image.png"></div>
        </div>
    </div>
</div>