.code-example {
    border: 1px solid @colors[analogic-5];
    border-radius: .4rem;
    overflow: hidden;

    position: relative;

    &__collapsible-button {
        font-size: 1.2rem;
        line-height: 1;

        display: flex;
        align-items: center;
        gap: .4rem;

        background-color: @colors[analogic-5];
        color: @colors[analogic-1];
        border: none;
        border-bottom: .1rem solid #1c1b1b;
        padding: .8rem;

        width: 100%;

        cursor: pointer;

        transition: all .15s;

        &:hover, &:focus-visible {
            background-color: darken(@colors[analogic-5], 2%);
        }
        &:focus-visible {
            outline: .2rem solid @colors[analogic-1];
            outline-offset: -.2rem;
        }
    }

    &__collapsible-button-dropdown-icon {
        width: 1.2rem;
        height: 1.2rem;

        transition: transform .2s;

        svg {
            width: 100%;
            height: 100%;
            fill: @colors[analogic-1];
        }
    }

    &__collapsible-button--opened &__collapsible-button-dropdown-icon {
        transform: rotate(90deg);
    }

    &__collapsible {

    }

    &__code {
        code {
            font-family: "Ubuntu Sans Mono", monospace;
            font-size: 1.6rem;
            line-height: 2rem;

            padding: .8rem !important;

            // width
            &::-webkit-scrollbar {
                height: 1.6rem;
            }

            // track
            &::-webkit-scrollbar-track {
                background: @colors[grey-40];
            }

            // handle
            &::-webkit-scrollbar-thumb {
                background: @colors[grey-60];
                border-top: .1rem solid @colors[grey-40];

                &:hover {
                    background: darken(@colors[grey-60], 5%);
                }
            }

            &.no-highlight {
                display: block;
                background: #1c1b1b;
                color: @colors[grey-20];
            }
        }

        &--with-max-height {
            code {
                max-height: 40rem;
            }
        }
    }

    &__switch {
        position: absolute;
        top: .8rem;
        right: .8rem;

        font-family: inherit;

        font-size: 1.6rem;
        line-height: 1;

        color: @colors[grey-20];
        background-color: @colors[analogic-2];
        border: none;
        border-radius: .4rem;

        padding: .4rem;
    }

    &__result-box {
        background-color: @colors[grey-20];
        padding: 3.2rem;
    }
}