<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.2, minimum-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="<%= pathToRootFolder %>static/favicon.svg">
    <meta name="author" content="Jiří Satora">
    <% if (locals.metaDescription) { %>
        <meta name="description" content="<%= locals.metaDescription %>">
    <% } else { %>
        <meta name="description" content="JavaScript library for displaying code samples on the web.">
    <% } %>
    
    <title><% if (locals.title) { %><%= locals.title %> | <% } %>Code Box</title>

    <% if (locals.useHighlightJS) { %>
        <script src="<%= pathToRootFolder %>static/js/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    <% } %>
</head>
<body>